@import url("https://fonts.googleapis.com/css2?family=Slabo+27px&family=Architects+Daughter&family=Arimo&family=Cormorant+Unicase:wght@600&family=Acme&family=Vollkorn:wght@500&display=swap");

* {
	margin: 0;
	padding: 0;
	text-align: center;
	box-sizing: border-box;
	scroll-behavior: smooth;
	transition: all 0.3s;
}

body {
	background: linear-gradient(to right top, #75ff7c, #9de069, #edf851);
	position: relative;
	height: 100vh;
}

nav {
	box-shadow: 0px 0px 6px black;

	p {
		font-family: "Architects Daughter", cursive;
		font-size: 25px;
		text-align: left;
	}
}

main {
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	top: 50%;
	height: 60vh;
	border-radius: 10px;
	overflow: hidden;

	.nav {
		position: absolute;
		left: 0;
		top: 0;

		button {
			background-color: #1d212487;
			color: white;
			margin: 5px;
			border-radius: 0;
			z-index: 10;
			border: 3px solid #9de069;
			font-family: monospace;

			&:hover {
				background-color: white;
				color: black;
			}

			&:focus {
				box-shadow: none;
			}
		}

		.--activated {
			border: 3px inset #9de069;
			background-color: transparent;
			color: black;
		}
	}

	background: linear-gradient(
		to right bottom,
		rgba(255, 255, 255, 0.5),
		rgba(255, 255, 255, 0.2)
	);
}

@keyframes spa {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.dp {
	height: 160px;
	object-fit: contain;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 30px;

	@media (max-width: 500px) {
		height: 130px;
		top: 60px;
	}

	&--transformed {
		transform: translate(250%, -17%) scale(0.5);
		left: unset;
		top: 0;

		@media (max-width: 500px) {
			transform: translate(76%, -20%) scale(0.4);
		}
	}
}

.introduction {
	margin-top: 20px;

	&__info {
		margin-top: 168px;
	}

	h4,
	h6 {
		font-family: "Arimo", sans-serif;
	}
}

.projects {
	height: 100%;
	overflow-y: hidden;
	padding-top: 32px;

	&__sections {
		max-height: 50px;
		transition: all 0.3s;
		overflow-y: hidden;
		margin-top: 7px;

		h4 {
			text-align: left;
			font-family: "Cormorant Unicase", serif;
			border-bottom: 1px solid #a5bf35;
			cursor: pointer;
			padding: 10px;

			&:hover {
				background-color: #c9e25b;
			}
		}

		&--activated {
			max-height: 100%;
			overflow-y: scroll;
		}
	}
}

.projects,
.introduction {
	position: absolute;
	width: 100%;
	left: 50%;
	animation: spa 0.3s;
	display: none;
	transform: translateX(-50%);
}

.page--activated {
	display: block;
}

.buttons--activated {
	transform: scale(1.6);
	box-shadow: -0.6px 1px 2px #006818;

	@media (max-width: 500px) {
		transform: scale(1.4);
	}
}

.portfolio {
	margin-top: 30px;

	&__imgcontainer {
		margin: 0 24px;

		@media (max-width: 500px) {
			margin: 0;
		}
	}

	&__project {
		// position: absolute;
		// left: 50%;
		// transform: translateX(53%);
		// width: 95%;
		border-radius: 5px;
		padding: 15px 0;
		display: flex;
		justify-content: center;
		align-items: center;

		@media (max-width: 500px) {
			flex-direction: column;
			//width: 90%;
			//transform: translateX(60%);
		}

		&:hover {
			background-color: rgba(157, 224, 105, 0.7);
		}
	}

	&__tech-img {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: center;
		margin-left: 70px;

		@media (max-width: 990px) {
			margin: 5px 0;
			flex-direction: row;
		}

		img {
			height: 85px;
			width: 85px;
			object-fit: contain;

			@media (max-width: 990px) {
				margin: 0 5px;
				height: 55px;
				width: 55px;
			}
		}
	}

	&__project-image {
		height: auto;
		width: 373px;

		@media (max-width: 990px) {
			width: 290px;
		}
	}

	&__project-desc {
		max-width: 250px;

		@media (max-width: 990px) {
			max-width: 100%;
		}

		p {
			font-family: "Vollkorn", serif;
			font-size: 1.17rem;
			text-align: end;
			padding-right: 3px;
			max-height: 255px;
			overflow-y: auto;

			@media (max-width: 500px) {
				text-align: justify;
				max-height: 120px;
				margin-top: 5px;
			}
		}
	}
}

.bio {
	margin-top: 28px;
	p {
		font-family: "Slabo 27px", serif;
		font-size: 22px;
		font-weight: bold;
		width: 75%;
		margin: auto;

		@media (max-width: 500px) {
			font-size: 18px;
			width: 100%;
		}
	}

	a {
		color: #9100ff;
	}
}

.contact {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 25px 15px;
	overflow: hidden;

	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;

	@media (max-width: 500px) {
		padding: 15px 0;
	}

	&__element {
		display: flex;
		align-items: center;
		padding: 15px 20px;
		border-radius: 30px;
		margin: 0 -5px;

		p {
			white-space: nowrap;
			margin: 0;
			max-width: 0;
			overflow: hidden;
			transition: all 0.5s;
			color: white;
		}

		i {
			margin: auto 1rem;
			color: white;

			@media (max-width: 500px) {
				font-size: 1em;
			}
		}

		&:hover {
			@media (hover: hover) {
				p {
					max-width: 300px;
				}
			}
		}

		&--yahoo {
			background-color: rgba(74, 0, 160, 0.8);
		}
		&--github {
			background-color: rgba(51, 51, 51, 0.8);
		}
		&--facebook {
			background-color: rgba(23, 120, 242, 0.8);
		}
		&--linkedin {
			background-color: rgba(0, 97, 146, 0.8);
		}
		&--instagram {
			background-color: rgba(63, 114, 155, 0.8);
		}
	}
}

a {
	color: black;
	text-decoration: none;

	&:hover {
		text-decoration: none;
	}
}

.projects,
.projects__sections,
.portfolio__project-desc p {
	&::-webkit-scrollbar {
		background-color: rgba($color: #ffffff, $alpha: 0.4);
		border-radius: 10px;
	}
	&::-webkit-scrollbar-thumb {
		border-radius: 10px;
		background-color: #fff;
		background-image: -webkit-gradient(
			linear,
			40% 0%,
			75% 84%,
			from(#edf851),
			to(#75ff7c)
		);
	}
}
