@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Noto+Sans+JP:wght@700&family=Arimo&family=Acme&family=Vollkorn:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.active {
  border-bottom: 2px solid;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.nav-bar {
  background-color: #c5d5cb;
  position: fixed;
  z-index: 20;
}

.nav-bar p {
  font-family: "Architects Daughter", cursive;
  font-size: 25px;
}

.introduction {
  height: 340px;
  position: relative;
}

.introduction img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  z-index: 1;
}

.introduction__intro {
  position: absolute;
  background: -webkit-gradient(linear, left top, left bottom, from(#4b525d), to(white));
  background: linear-gradient(#4b525d, white);
  color: white;
  left: 0;
  bottom: -45px;
  height: 150px;
  opacity: 0.9;
}

.introduction__intro h4,
.introduction__intro h6 {
  font-family: "Arimo", sans-serif;
  text-shadow: -2px 3px 2px black;
}

.portfolio {
  margin-top: 49px;
  padding-top: 18px;
}

.portfolio h2 {
  font-family: "Acme", sans-serif;
}

.portfolio__project {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media (max-width: 990px) {
  .portfolio__project {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.portfolio__project:hover {
  background-color: #c5d5cb;
}

.portfolio__tech-img {
  margin-left: 100px;
}

@media (max-width: 990px) {
  .portfolio__tech-img {
    margin: 10px 0;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
  }
}

.portfolio__tech-img img {
  height: 85px;
  width: 85px;
}

@media (max-width: 990px) {
  .portfolio__tech-img img {
    margin: 0 5px;
  }
}

.portfolio__project-image {
  height: auto;
  width: 373px;
}

.portfolio__project-desc {
  max-width: 250px;
}

@media (max-width: 990px) {
  .portfolio__project-desc {
    max-width: 100%;
    margin-top: 10px;
  }
}

.portfolio__project-desc p {
  font-family: "Vollkorn", serif;
  font-size: 1.17rem;
  text-align: end;
}

@media (max-width: 990px) {
  .portfolio__project-desc p {
    text-align: center;
  }
}

.portfolio__project-desc--mapbox a {
  color: blue;
}

.portfolio__project-desc--mapbox a:hover {
  text-decoration: none;
}

.bio {
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#4b525d));
  background: linear-gradient(white, #4b525d);
}

@media (max-width: 770px) {
  .bio {
    padding: 30px 15px;
  }
}

.bio p {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.25rem;
  padding: 60px 70px;
  color: darkblue;
  text-shadow: -1px 1px 3px white;
}

@media (max-width: 770px) {
  .bio p {
    padding: 0;
    width: 100% !important;
  }
}

.bio a {
  color: #9100ff;
}

.contact {
  background-color: #c2dde5;
  padding: 25px 15px;
  overflow: hidden;
}

@media (max-width: 770px) {
  .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contact__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 20px;
  border-radius: 30px;
}

@media (max-width: 770px) {
  .contact__element {
    width: 355px;
    margin: 4px 0;
  }
}

.contact__element p {
  white-space: nowrap;
  margin: 0;
  max-width: 0;
  overflow: hidden;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: white;
}

@media (max-width: 770px) {
  .contact__element p {
    max-width: 100%;
  }
}

.contact__element i {
  margin: auto 1rem;
  color: white;
}

.contact__element:hover p {
  max-width: 300px;
}

.contact__element--yahoo {
  background-color: #4a00a0;
}

.contact__element--facebook {
  background-color: #1778f2;
}

.contact__element--linkedin {
  background-color: #006192;
}

.contact__element--instagram {
  background-color: #3f729b;
}

footer {
  padding: 40px;
  background-color: #c5d5cb;
  -webkit-transform: translateY(-80px);
          transform: translateY(-80px);
  opacity: 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

footer h1 {
  font-family: "Architects Daughter", cursive;
  font-size: 2.3rem;
}

.scroll-animation {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
/*# sourceMappingURL=styles.css.map */