@import url("https://fonts.googleapis.com/css2?family=Slabo+27px&family=Architects+Daughter&family=Arimo&family=Cormorant+Unicase:wght@600&family=Acme&family=Vollkorn:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

body {
  background: -webkit-gradient(linear, left bottom, right top, from(#75ff7c), color-stop(#9de069), to(#edf851));
  background: linear-gradient(to right top, #75ff7c, #9de069, #edf851);
  position: relative;
  height: 100vh;
}

nav {
  -webkit-box-shadow: 0px 0px 6px black;
          box-shadow: 0px 0px 6px black;
}

nav p {
  font-family: "Architects Daughter", cursive;
  font-size: 25px;
  text-align: left;
}

main {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  height: 60vh;
  border-radius: 10px;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0.2)));
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2));
}

main .nav {
  position: absolute;
  left: 0;
  top: 0;
}

main .nav button {
  background-color: #1d212487;
  color: white;
  margin: 5px;
  border-radius: 0;
  z-index: 10;
  border: 3px solid #9de069;
  font-family: monospace;
}

main .nav button:hover {
  background-color: white;
  color: black;
}

main .nav button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

main .nav .--activated {
  border: 3px inset #9de069;
  background-color: transparent;
  color: black;
}

@-webkit-keyframes spa {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes spa {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.dp {
  height: 160px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 50%;
  margin-bottom: 7px;
}

@media (max-width: 500px) {
  .dp {
    height: 130px;
  }
}

.introduction {
  margin-top: 20px;
}

.introduction h4,
.introduction h6 {
  font-family: "Arimo", sans-serif;
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-left: 2px solid #3c8540;
  margin-top: 8px;
  padding-left: 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}

.project:hover {
  background-color: #d2f58a;
}

.project__tech-img {
  min-width: 170px;
}

.project__tech-img img {
  height: 55px;
  width: 55px;
  -o-object-fit: contain;
     object-fit: contain;
}

.project__title {
  margin: 0;
  font-family: "Arimo";
  font-size: 20px;
  border-right: 2px solid #3c8540;
  padding: 0 25px;
}

.project__type {
  margin: 0;
  margin-left: 7px;
  font-size: 15px;
  font-style: italic;
  font-weight: 800;
  color: #157259;
}

.projects {
  height: 100%;
  overflow-y: auto;
  padding-top: 32px;
}

.projects,
.introduction {
  position: absolute;
  width: 100%;
  left: 50%;
  -webkit-animation: spa 0.3s;
          animation: spa 0.3s;
  display: none;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
}

.navigation__header {
  font-family: "Slabo 27px";
  margin: 0;
  padding: 4px 0px;
  width: 105px;
  cursor: pointer;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.navigation__header:hover {
  border-bottom: 3px solid #3c8540;
}

.navigation__header--active {
  border-bottom: 2px solid #3c8540;
}

.content {
  margin-top: 50px;
  height: 441px;
  overflow-y: auto;
}

.page--activated {
  display: block;
}

.buttons--activated {
  -webkit-transform: scale(1.6);
          transform: scale(1.6);
  -webkit-box-shadow: -0.6px 1px 2px #006818;
          box-shadow: -0.6px 1px 2px #006818;
}

@media (max-width: 500px) {
  .buttons--activated {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
}

@-webkit-keyframes project {
  from {
    width: 0;
    opacity: 0;
  }
  to {
    width: auto;
    opacity: 1;
  }
}

@keyframes project {
  from {
    width: 0;
    opacity: 0;
  }
  to {
    width: auto;
    opacity: 1;
  }
}

.portfolio__imgcontainer {
  margin: 0 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 500px) {
  .portfolio__imgcontainer {
    margin: 0;
  }
}

.portfolio__project {
  position: relative;
  border-radius: 5px;
  margin-top: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: project 0.2s;
          animation: project 0.2s;
}

@media (max-width: 500px) {
  .portfolio__project {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.portfolio__project:hover {
  background-color: rgba(157, 224, 105, 0.7);
}

.portfolio__project .backBtn {
  position: absolute;
  left: 35px;
  top: 0;
  color: darkred;
  cursor: pointer;
}

.portfolio__tech-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 990px) {
  .portfolio__tech-img {
    margin: 5px 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.portfolio__tech-img img {
  height: 100px;
  width: 100px;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (max-width: 990px) {
  .portfolio__tech-img img {
    margin: 0 5px;
    height: 55px;
    width: 55px;
  }
}

.portfolio__project-image {
  height: auto;
  width: 373px;
}

@media (max-width: 990px) {
  .portfolio__project-image {
    width: 290px;
  }
}

.portfolio__gitlink {
  margin-top: 5px;
}

.portfolio__gitlink span {
  font-family: monospace;
  font-size: 17px;
  background-color: #d0f989;
  padding: 4px;
  border-radius: 5px;
}

.portfolio__project-desc {
  max-width: 260px;
}

@media (max-width: 990px) {
  .portfolio__project-desc {
    max-width: 100%;
  }
}

.portfolio__project-desc p {
  font-family: "Vollkorn", serif;
  font-size: 1.17rem;
  text-align: end;
  padding-right: 16px;
  max-height: 300px;
  overflow-y: auto;
}

@media (max-width: 500px) {
  .portfolio__project-desc p {
    text-align: justify;
    max-height: 120px;
    margin-top: 5px;
  }
}

.portfolio__project-desc--gfi span {
  background-color: #ffdf56;
  padding: 4px 10px;
  border-radius: 14px;
}

.bio {
  margin-top: 28px;
}

.bio p {
  font-family: "Slabo 27px", serif;
  font-size: 22px;
  font-weight: bold;
  width: 75%;
  margin: auto;
}

@media (max-width: 500px) {
  .bio p {
    font-size: 18px;
    width: 100%;
  }
}

.bio a {
  color: #9100ff;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 15px;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

@media (max-width: 500px) {
  .contact {
    padding: 15px 0;
  }
}

.contact__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 20px;
  border-radius: 30px;
  margin: 0 -5px;
}

.contact__element p {
  white-space: nowrap;
  margin: 0;
  max-width: 0;
  overflow: hidden;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: white;
}

.contact__element i {
  margin: auto 1rem;
  color: white;
}

@media (max-width: 500px) {
  .contact__element i {
    font-size: 1em;
  }
}

@media (hover: hover) {
  .contact__element:hover p {
    max-width: 300px;
  }
}

.contact__element--yahoo {
  background-color: rgba(74, 0, 160, 0.8);
}

.contact__element--github {
  background-color: rgba(51, 51, 51, 0.8);
}

.contact__element--facebook {
  background-color: rgba(23, 120, 242, 0.8);
}

.contact__element--linkedin {
  background-color: rgba(0, 97, 146, 0.8);
}

.contact__element--instagram {
  background-color: rgba(63, 114, 155, 0.8);
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.content::-webkit-scrollbar,
.projects::-webkit-scrollbar,
.projects__sections::-webkit-scrollbar,
.portfolio__project-desc p::-webkit-scrollbar {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
}

.content::-webkit-scrollbar-thumb,
.projects::-webkit-scrollbar-thumb,
.projects__sections::-webkit-scrollbar-thumb,
.portfolio__project-desc p::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #fff;
  background-image: -webkit-gradient(linear, 40% 0%, 75% 84%, from(#edf851), to(#75ff7c));
}
/*# sourceMappingURL=styles.css.map */