@import url("https://fonts.googleapis.com/css2?family=Slabo+27px&family=Architects+Daughter&family=Arimo&family=Acme&family=Vollkorn:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(to right top, #75ff7c, #9de069, #edf851);
  position: relative;
  height: 100vh;
}

nav {
  box-shadow: 0px 0px 6px black;
}

@media (max-width: 500px) {
  nav {
    font-size: 14px;
  }
}

nav p {
  font-family: "Architects Daughter", cursive;
  font-size: 25px;
}

main {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  max-height: calc(100vh - 225px);
  border-radius: 10px;
  overflow-y: scroll;
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
  /* For Internet Explorer and Edge */
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2));
}

main::-webkit-scrollbar {
  width: 0px;
  /* For Chrome, Safari, and Opera */
}

.introduction img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.introduction h4,
.introduction h6 {
  font-family: "Arimo", sans-serif;
}

.portfolio {
  margin-top: 50px;
}

.portfolio h2 {
  font-family: "Acme", sans-serif;
}

.portfolio__project {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}

@media (max-width: 990px) {
  .portfolio__project {
    flex-direction: column;
  }
}

.portfolio__project:hover {
  background-color: #c5d5cb;
}

.portfolio__tech-img {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin-left: 100px;
}

@media (max-width: 990px) {
  .portfolio__tech-img {
    margin: 10px 0;
    flex-direction: row !important;
  }
}

.portfolio__tech-img img {
  height: 85px;
  width: 85px;
}

@media (max-width: 990px) {
  .portfolio__tech-img img {
    margin: 0 5px;
  }
}

.portfolio__project-image {
  height: auto;
  width: 373px;
}

.portfolio__project-desc {
  max-width: 250px;
}

@media (max-width: 990px) {
  .portfolio__project-desc {
    max-width: 100%;
    margin-top: 10px;
  }
}

.portfolio__project-desc p {
  font-family: "Vollkorn", serif;
  font-size: 1.17rem;
  text-align: end;
  padding-right: 3px;
}

@media (min-width: 770px) {
  .portfolio__project-desc p {
    max-height: 255px;
    overflow-y: scroll;
  }
  .portfolio__project-desc p::-webkit-scrollbar {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
  }
  .portfolio__project-desc p::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #fff;
    background-image: -webkit-gradient(linear, 40% 0%, 75% 84%, from(#edf851), to(#75ff7c));
  }
}

@media (max-width: 990px) {
  .portfolio__project-desc p {
    text-align: center;
  }
}

.bio p {
  font-family: "Slabo 27px", serif;
  font-size: 22px;
  font-weight: bold;
}

@media (max-width: 770px) {
  .bio p {
    padding: 0;
    width: 100% !important;
  }
}

.bio a {
  color: #9100ff;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 15px;
  overflow: hidden;
}

@media (min-width: 770px) {
  .contact {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

@media (max-width: 770px) {
  .contact {
    flex-direction: column;
    margin-top: calc(100vh - 150px);
  }
}

.contact__element {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  border-radius: 30px;
  margin: 0 -5px;
}

@media (max-width: 770px) {
  .contact__element {
    width: 355px;
    margin: 4px 0;
  }
}

.contact__element p {
  white-space: nowrap;
  margin: 0;
  max-width: 0;
  overflow: hidden;
  transition: all 0.5s;
  color: white;
}

@media (max-width: 770px) {
  .contact__element p {
    max-width: 100%;
  }
}

.contact__element i {
  margin: auto 1rem;
  color: white;
}

.contact__element:hover p {
  max-width: 300px;
}

.contact__element--yahoo {
  background-color: rgba(74, 0, 160, 0.8);
}

.contact__element--github {
  background-color: rgba(51, 51, 51, 0.8);
}

.contact__element--facebook {
  background-color: rgba(23, 120, 242, 0.8);
}

.contact__element--linkedin {
  background-color: rgba(0, 97, 146, 0.8);
}

.contact__element--instagram {
  background-color: rgba(63, 114, 155, 0.8);
}

#scroll-bar {
  height: 0%;
  width: 10px;
  background-color: #75ff7c;
  position: absolute;
  right: 0;
  top: 0;
  box-shadow: 1px 0px 6px red;
  transition: height 0.3s;
}

.scroll-animation {
  opacity: 1;
  transform: translateY(0);
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}
/*# sourceMappingURL=styles.css.map */