.bio {
	margin-top: 28px;
	p {
		font-family: "Slabo 27px", serif;
		font-size: 22px;
		font-weight: bold;
		width: 75%;
		margin: auto;

		@media (max-width: 500px) {
			font-size: 18px;
			width: 100%;
		}
	}

	a {
		color: #21749c;
	}
}

@keyframes spa {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.dp {
	height: 160px;
	object-fit: contain;
	border-radius: 50%;
	margin-bottom: 7px;

	@media (max-width: 500px) {
		height: 130px;
	}
}

.introduction {
	margin-top: 20px;

	h4,
	h6 {
		font-family: "Arimo", sans-serif;
	}
}

.page--activated {
	display: block;
}
