main {
	position: absolute;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	top: 50%;
	height: 60vh;
	border-radius: 10px;
	overflow: hidden;
	background: -webkit-gradient(
		linear,
		left top,
		right bottom,
		from(rgba(255, 255, 255, 0.5)),
		to(rgba(255, 255, 255, 0.2))
	);
	background: linear-gradient(
		to right bottom,
		rgba(255, 255, 255, 0.5),
		rgba(255, 255, 255, 0.2)
	);

	.nav {
		position: absolute;
		left: 0;
		top: 0;

		&Btn {
			align-items: center;
			appearance: none;
			background-color: #fcfcfd;
			border-radius: 4px;
			border-width: 0;
			box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
				rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
			color: #36395a;
			cursor: pointer;
			display: inline-flex;
			font-family: "JetBrains Mono", monospace;
			padding: 5px 16px;
			justify-content: center;
			line-height: 1;
			list-style: none;
			position: relative;
			text-align: left;
			text-decoration: none;
			transition: box-shadow 0.15s, transform 0.15s;
			user-select: none;
			-webkit-user-select: none;
			touch-action: manipulation;
			white-space: nowrap;
			will-change: box-shadow, transform;
			font-size: 16px;

			&:focus {
				outline: 0;
			}

			&--activated {
				box-shadow: #d6d6e7 0 3px 7px inset;
				transform: translateY(2px);
			}
		}
	}
}

.content,
.projects,
.projects__sections,
.portfolio__project-desc {
	&::-webkit-scrollbar {
		background-color: rgba($color: #ffffff, $alpha: 0.4);
		border-radius: 10px;
	}
	&::-webkit-scrollbar-thumb {
		border-radius: 10px;
		background-color: #fff;
		background-image: -webkit-gradient(
			linear,
			40% 0%,
			75% 84%,
			from(#edf851),
			to(#75ff7c)
		);
	}
}
